In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
wealth_data = pd.read_csv(r'C:\Users\hayli\Documents\DA12\Capstone Project\nss-capstone\data\Social_Vulnerability_Index_2018_-_United_States__tract_20240928.csv')

wealth_data.head(5)

,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,...,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP,Shape
0,1,ALABAMA,AL,Calhoun,1015981901,"Census Tract 9819.01, Calhoun County, Alabama",24.243865,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,656,MULTIPOLYGON (((-86.01323399999995 33.68425800...
1,1,ALABAMA,AL,Calhoun,1015981902,"Census Tract 9819.02, Calhoun County, Alabama",34.646714,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,146,MULTIPOLYGON (((-86.01729599999999 33.69662100...
2,1,ALABAMA,AL,Calhoun,1015981903,"Census Tract 9819.03, Calhoun County, Alabama",13.926276,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,0,MULTIPOLYGON (((-85.78500899999995 33.66553500...
3,1,ALABAMA,AL,Mobile,1097003605,"Census Tract 36.05, Mobile County, Alabama",0.732300,899,316,0,...,-999,1,-999,-999,33,36,3.7,4.1,5135,MULTIPOLYGON (((-88.19230199999998 30.69523500...
4,1,ALABAMA,AL,Mobile,1097990000,"Census Tract 9900, Mobile County, Alabama",0.000000,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,0,MULTIPOLYGON (((-88.05337499999997 30.50698700...

In [3]:
weath_data = pd.DataFrame(data=wealth_data)

In [4]:
wealth_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72837 entries, 0 to 72836
Columns: 124 entries, ST to Shape
dtypes: float64(61), int64(58), object(5)
memory usage: 68.9+ MB

In [5]:
wealth_data

,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,...,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP,Shape
0,1,ALABAMA,AL,Calhoun,1015981901,"Census Tract 9819.01, Calhoun County, Alabama",24.243865,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,656,MULTIPOLYGON (((-86.01323399999995 33.68425800...
1,1,ALABAMA,AL,Calhoun,1015981902,"Census Tract 9819.02, Calhoun County, Alabama",34.646714,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,146,MULTIPOLYGON (((-86.01729599999999 33.69662100...
2,1,ALABAMA,AL,Calhoun,1015981903,"Census Tract 9819.03, Calhoun County, Alabama",13.926276,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,0,MULTIPOLYGON (((-85.78500899999995 33.66553500...
3,1,ALABAMA,AL,Mobile,1097003605,"Census Tract 36.05, Mobile County, Alabama",0.732300,899,316,0,...,-999,1,-999,-999,33,36,3.7,4.1,5135,MULTIPOLYGON (((-88.19230199999998 30.69523500...
4,1,ALABAMA,AL,Mobile,1097990000,"Census Tract 9900, Mobile County, Alabama",0.000000,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,0,MULTIPOLYGON (((-88.05337499999997 30.50698700...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72832,51,VIRGINIA,VA,Albemarle,51003010903,"Census Tract 109.03, Albemarle County, Virginia",0.378015,3159,553,98,...,1,1,4,6,67,47,2.1,1.3,12094,MULTIPOLYGON (((-78.51643399999995 38.02923900...
72833,51,VIRGINIA,VA,Montgomery,51121020202,"Census Tract 202.02, Montgomery County, Virginia",2.278257,2000,232,1140,...,1,1,4,7,102,64,6.0,3.6,2222,MULTIPOLYGON (((-80.44958399999997 37.20061200...
72834,51,VIRGINIA,VA,Newport News City,51700030100,"Census Tract 301, Newport News city, Virginia",1.636259,4274,612,1647,...,1,1,4,9,436,139,14.9,4.6,6558,MULTIPOLYGON (((-76.43529899999999 36.98216400...
72835,53,WASHINGTON,WA,King,53033005302,"Census Tract 53.02, King County, Washington",0.968062,5320,629,127,...,1,1,4,7,267,98,5.1,1.8,40043,MULTIPOLYGON (((-122.31833899999997 47.6553730...
72836,53,WASHINGTON,WA,Yakima,53077000100,"Census Tract 1, Yakima County, Washington",1.136201,3170,325,1047,...,1,1,4,11,450,125,21.8,5.6,18952,MULTIPOLYGON (((-120.51994199999996 46.6045990...

In [6]:
wealth_data_short = wealth_data[['STATE', 'ST_ABBR', 'E_TOTPOP', 'E_POV', 'E_UNEMP', 'E_PCI', 'E_NOHSDP', 'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_NOVEH', 'EP_POV', 'EP_UNEMP', 'EP_PCI', 'EP_NOHSDP', 'EP_AGE65', 'EP_AGE17', 'EP_SNGPNT', 'EP_MINRTY', 'EP_NOVEH', 'EPL_POV', 'EPL_UNEMP', 'EPL_PCI', 'EPL_NOHSDP', 'SPL_THEME1', 'RPL_THEME1', 'EPL_MINRTY', 'F_POV', 'F_UNEMP', 'F_PCI', 'F_NOHSDP', 'F_THEME1', 'F_MINRTY', 'F_LIMENG', 'F_THEME3', 'E_UNINSUR', 'EP_UNINSUR']]

# wealth_data_short

In [8]:
wealth_data_state = wealth_data_short.groupby(['STATE', 'ST_ABBR']).sum()[['E_TOTPOP', 'E_POV', 'E_UNEMP', 'E_UNINSUR']]
wealth_data_state

                              E_TOTPOP    E_POV  E_UNEMP  E_UNINSUR
STATE                ST_ABBR
ALABAMA              AL        4864680   829400   147898     477474
ALASKA               AK         738516    77865    28067     102956
ARIZONA              AZ        6946685  1092192   210214     748306
ARKANSAS             AR        2990671   510337    75774     265434
CALIFORNIA           CA       39148760  5487141  1321502    3280167
COLORADO             CO        5531141   590504   139326     441850
CONNECTICUT          CT        3581504   348449   125909     196809
DELAWARE             DE         949495   109798    28501      56491
DISTRICT OF COLUMBIA DC         684498   109497    29373      27088
FLORIDA              FL       20598139  2983851   622978    2744513
GEORGIA              GA       10297484  1607714   322854    1389541
HAWAII               HI        1422029   137516    32036      55624
IDAHO                ID        1687809   228882    37672     183747
ILLINOIS             IL       12821497  1635603   437139     928612
INDIANA              IN        6637426   908359   180969     596543
IOWA                 IA        3132499   353634    65216     152469
KANSAS               KS        2908776   350280    65038     256512
KENTUCKY             KY        4440204   772080   128358     265416
LOUISIANA            LA        4663616   878394   149850     487112
MAINE                ME        1332813   161743    32203     109641
MARYLAND             MD        6003435   553496   181089     382130
MASSACHUSETTS        MA        6830193   710305   203464     189470
MICHIGAN             MI        9957488  1457008   321008     597044
MINNESOTA            MN        5527358   547442   119218     254764
MISSISSIPPI          MS        2988762   599795   110036     370357
MISSOURI             MO        6090062   837930   155958     581002
MONTANA              MT        1041732   139063    22433     104910
NEBRASKA             NE        1904760   213790    36545     157831
NEVADA               NV        2922849   393431   101748     344104
NEW HAMPSHIRE        NH        1343622   102352    30392      86274
NEW JERSEY           NJ        8881845   904132   285084     743045
NEW MEXICO           NM        2092434   390295    58248     220410
NEW YORK             NY       19618453  2797985   602636    1255168
NORTH CAROLINA       NC       10155624  1523949   312610    1100719
NORTH DAKOTA         ND         752201    79270    11689      54485
OHIO                 OH       11641879  1645986   343232     743259
OKLAHOMA             OK        3918137   607810    99087     545570
OREGON               OR        4081943   565247   123485     293690
PENNSYLVANIA         PA       12791181  1578949   379765     785624
RHODE ISLAND         RI        1056611   133055    34479      54269
SOUTH CAROLINA       SC        4955925   770632   153242     535224
SOUTH DAKOTA         SD         864289   113144    16252      79489
TENNESSEE            TN        6651089  1046508   191544     660872
TEXAS                TX       27885195  4213938   743006    4764897
UTAH                 UT        3045350   309904    58958     301761
VERMONT              VT         624977    67034    13878      25362
VIRGINIA             VA        8413774   893580   217670     755739
WASHINGTON           WA        7294336   821621   198330     487856
WEST VIRGINIA        WV        1829054   315464    53750     116826
WISCONSIN            WI        5778394   668220   124792     329424
WYOMING              WY         581836    63311    13685      64887

In [9]:
wealth_data_state['PCNT_POV'] = round(wealth_data_state['E_POV'] / wealth_data_state['E_TOTPOP']*100)

In [10]:
wealth_data_state['PCNT_UNEMP'] = round(wealth_data_state['E_UNEMP'] / wealth_data_state['E_TOTPOP']*100)

In [11]:
wealth_data_state['PCNT_UNINSUR'] = round(wealth_data_state['E_UNINSUR'] / wealth_data_state['E_TOTPOP']*100)

In [12]:
wealth_data_state

,,E_TOTPOP,E_POV,E_UNEMP,E_UNINSUR,PCNT_POV,PCNT_UNEMP,PCNT_UNINSUR
STATE,ST_ABBR,,,,,,,
ALABAMA,AL,4864680,829400,147898,477474,17.0,3.0,10.0
ALASKA,AK,738516,77865,28067,102956,11.0,4.0,14.0
ARIZONA,AZ,6946685,1092192,210214,748306,16.0,3.0,11.0
ARKANSAS,AR,2990671,510337,75774,265434,17.0,3.0,9.0
CALIFORNIA,CA,39148760,5487141,1321502,3280167,14.0,3.0,8.0
COLORADO,CO,5531141,590504,139326,441850,11.0,3.0,8.0
CONNECTICUT,CT,3581504,348449,125909,196809,10.0,4.0,5.0
DELAWARE,DE,949495,109798,28501,56491,12.0,3.0,6.0
DISTRICT OF COLUMBIA,DC,684498,109497,29373,27088,16.0,4.0,4.0
FLORIDA,FL,20598139,2983851,622978,2744513,14.0,3.0,13.0
GEORGIA,GA,10297484,1607714,322854,1389541,16.0,3.0,13.0
HAWAII,HI,1422029,137516,32036,55624,10.0,2.0,4.0
IDAHO,ID,1687809,228882,37672,183747,14.0,2.0,11.0
ILLINOIS,IL,12821497,1635603,437139,928612,13.0,3.0,7.0
INDIANA,IN,6637426,908359,180969,596543,14.0,3.0,9.0
IOWA,IA,3132499,353634,65216,152469,11.0,2.0,5.0
KANSAS,KS,2908776,350280,65038,256512,12.0,2.0,9.0
KENTUCKY,KY,4440204,772080,128358,265416,17.0,3.0,6.0
LOUISIANA,LA,4663616,878394,149850,487112,19.0,3.0,10.0
MAINE,ME,1332813,161743,32203,109641,12.0,2.0,8.0
MARYLAND,MD,6003435,553496,181089,382130,9.0,3.0,6.0
MASSACHUSETTS,MA,6830193,710305,203464,189470,10.0,3.0,3.0
MICHIGAN,MI,9957488,1457008,321008,597044,15.0,3.0,6.0
MINNESOTA,MN,5527358,547442,119218,254764,10.0,2.0,5.0
MISSISSIPPI,MS,2988762,599795,110036,370357,20.0,4.0,12.0
MISSOURI,MO,6090062,837930,155958,581002,14.0,3.0,10.0
MONTANA,MT,1041732,139063,22433,104910,13.0,2.0,10.0
NEBRASKA,NE,1904760,213790,36545,157831,11.0,2.0,8.0
NEVADA,NV,2922849,393431,101748,344104,13.0,3.0,12.0
NEW HAMPSHIRE,NH,1343622,102352,30392,86274,8.0,2.0,6.0
NEW JERSEY,NJ,8881845,904132,285084,743045,10.0,3.0,8.0
NEW MEXICO,NM,2092434,390295,58248,220410,19.0,3.0,11.0
NEW YORK,NY,19618453,2797985,602636,1255168,14.0,3.0,6.0
NORTH CAROLINA,NC,10155624,1523949,312610,1100719,15.0,3.0,11.0
NORTH DAKOTA,ND,752201,79270,11689,54485,11.0,2.0,7.0
OHIO,OH,11641879,1645986,343232,743259,14.0,3.0,6.0
OKLAHOMA,OK,3918137,607810,99087,545570,16.0,3.0,14.0
OREGON,OR,4081943,565247,123485,293690,14.0,3.0,7.0
PENNSYLVANIA,PA,12791181,1578949,379765,785624,12.0,3.0,6.0
RHODE ISLAND,RI,1056611,133055,34479,54269,13.0,3.0,5.0
SOUTH CAROLINA,SC,4955925,770632,153242,535224,16.0,3.0,11.0
SOUTH DAKOTA,SD,864289,113144,16252,79489,13.0,2.0,9.0
TENNESSEE,TN,6651089,1046508,191544,660872,16.0,3.0,10.0
TEXAS,TX,27885195,4213938,743006,4764897,15.0,3.0,17.0
UTAH,UT,3045350,309904,58958,301761,10.0,2.0,10.0
VERMONT,VT,624977,67034,13878,25362,11.0,2.0,4.0
VIRGINIA,VA,8413774,893580,217670,755739,11.0,3.0,9.0
WASHINGTON,WA,7294336,821621,198330,487856,11.0,3.0,7.0
WEST VIRGINIA,WV,1829054,315464,53750,116826,17.0,3.0,6.0
WISCONSIN,WI,5778394,668220,124792,329424,12.0,2.0,6.0
WYOMING,WY,581836,63311,13685,64887,11.0,2.0,11.0

In [13]:
wealth_data_state_avg = wealth_data_short.groupby(['STATE', 'ST_ABBR']).mean()[['EP_POV', 'EP_UNEMP']]

In [14]:
wealth_data_state_avg

                                 EP_POV   EP_UNEMP
STATE                ST_ABBR
ALABAMA              AL       14.943390   3.453475
ALASKA               AK       11.428743   8.151497
ARIZONA              AZ        9.411861  -0.392202
ARKANSAS             AR       17.547522   4.903061
CALIFORNIA           CA        7.563151   0.567218
COLORADO             CO        1.143235  -4.733867
CONNECTICUT          CT        7.478193   3.287349
DELAWARE             DE       -1.131797  -7.868203
DISTRICT OF COLUMBIA DC       17.501676   8.947486
FLORIDA              FL        3.334497  -4.934544
GEORGIA              GA       12.173499   0.435860
HAWAII               HI      -47.879758 -49.904834
IDAHO                ID       14.810403   5.179530
ILLINOIS             IL       13.068952   5.993720
INDIANA              IN       14.476658   4.153780
IOWA                 IA       10.075030   1.702788
KANSAS               KS        0.553247  -9.595584
KENTUCKY             KY       12.260000   0.591749
LOUISIANA            LA        9.091228  -4.750088
MAINE                ME        2.147324  -6.249577
MARYLAND             MD        2.597350  -1.855444
MASSACHUSETTS        MA        2.332271  -2.426305
MICHIGAN             MI        6.455411  -0.851659
MINNESOTA            MN        7.226497   1.113323
MISSISSIPPI          MS       17.017700   3.205144
MISSOURI             MO       12.843719   2.829720
MONTANA              MT        6.868266  -2.901845
NEBRASKA             NE        4.681767  -2.027068
NEVADA               NV        0.830713  -5.935371
NEW HAMPSHIRE        NH        1.745238  -2.711224
NEW JERSEY           NJ        5.626919   1.008076
NEW MEXICO           NM       -2.411824 -14.925451
NEW YORK             NY        0.302242  -7.364166
NORTH CAROLINA       NC        3.460401  -4.800912
NORTH DAKOTA         ND       11.429756   2.913659
OHIO                 OH       14.316011   3.736635
OKLAHOMA             OK       17.519120   5.964532
OREGON               OR       10.783937   2.552899
PENNSYLVANIA         PA        7.826111  -0.545508
RHODE ISLAND         RI        1.187243  -6.059259
SOUTH CAROLINA       SC        2.963463  -5.807072
SOUTH DAKOTA         SD       14.207658   4.010360
TENNESSEE            TN        4.133868  -4.836740
TEXAS                TX        9.646060  -0.218215
UTAH                 UT        4.383503  -2.816156
VERMONT              VT        5.785326  -1.370109
VIRGINIA             VA       -1.887632  -7.867421
WASHINGTON           WA        5.107221  -1.342779
WEST VIRGINIA        WV       19.467562   7.340289
WISCONSIN            WI        9.965401   1.001003
WYOMING              WY        4.042424  -2.793182

In [15]:
chronic_disease = pd.read_csv(r'C:\Users\hayli\Documents\DA12\Capstone Project\nss-capstone\data\U.S._Chronic_Disease_Indicators__CDI___2023_Release.csv')

C:\Users\hayli\AppData\Local\Temp\ipykernel_41440\2803124408.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  chronic_disease = pd.read_csv(r'C:\Users\hayli\Documents\DA12\Capstone Project\nss-capstone\data\U.S._Chronic_Disease_Indicators__CDI___2023_Release.csv')

In [16]:
chronic_disease

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2014,2014,AR,Arkansas,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,5,AST,AST3_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
1,2018,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,8,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2018,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,11,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2017,2017,GA,Georgia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,13,AST,AST3_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
4,2010,2010,MI,Michigan,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,26,AST,AST3_1,NMBR,RACE,HIS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185671,2020,2020,WY,Wyoming,BRFSS,Diabetes,Dilated eye examination among adults aged >= 1...,NaN,%,Age-adjusted Prevalence,...,56,DIA,DIA7_0,AGEADJPREV,RACE,WHT,NaN,NaN,NaN,NaN
1185672,2020,2020,WY,Wyoming,BRFSS,Older Adults,Proportion of older adults aged >= 65 years wh...,NaN,%,Crude Prevalence,...,56,OLD,OLD3_1,CRDPREV,RACE,WHT,NaN,NaN,NaN,NaN
1185673,2017,2017,IA,Iowa,BRFSS,Arthritis,Activity limitation due to arthritis among adu...,NaN,%,Age-adjusted Prevalence,...,19,ART,ART2_1,AGEADJPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185674,2020,2020,WY,Wyoming,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,Crude Prevalence,...,56,DIA,DIA2_2,CRDPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185675,2019,2019,RI,Rhode Island,BRFSS,Arthritis,Activity limitation due to arthritis among adu...,NaN,%,Crude Prevalence,...,44,ART,ART2_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [17]:
chronic_disease_2018 = chronic_disease[chronic_disease['YearStart'] == 2018]
chronic_disease_2018

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
1,2018,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,8,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2018,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,11,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
17,2018,2018,KS,Kansas,NVSS,Asthma,Asthma mortality rate,NaN,Number,Number,...,20,AST,AST4_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
106,2018,2018,PR,Puerto Rico,SEDD; SID,Chronic Obstructive Pulmonary Disease,Hospitalization for chronic obstructive pulmon...,NaN,NaN,Number,...,72,COPD,COPD5_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
111,2018,2018,DC,District of Columbia,SEDD; SID,Chronic Obstructive Pulmonary Disease,Hospitalization for chronic obstructive pulmon...,NaN,NaN,Number,...,11,COPD,COPD5_2,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185569,2018,2018,WY,Wyoming,BRFSS,Tobacco,Quit attempts in the past year among current s...,NaN,%,Age-adjusted Prevalence,...,56,TOB,TOB3_0,AGEADJPREV,RACE,MRC,NaN,NaN,NaN,NaN
1185577,2018,2018,WY,Wyoming,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,NaN,%,Age-adjusted Prevalence,...,56,TOB,TOB2_2,AGEADJPREV,RACE,OTH,NaN,NaN,NaN,NaN
1185652,2018,2018,WY,Wyoming,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,NaN,%,Crude Prevalence,...,56,TOB,TOB2_2,CRDPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185661,2018,2018,WY,Wyoming,BRFSS,Tobacco,Quit attempts in the past year among current s...,NaN,%,Crude Prevalence,...,56,TOB,TOB3_0,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
1185663,2018,2018,WY,Wyoming,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,NaN,%,Crude Prevalence,...,56,TOB,TOB2_2,CRDPREV,RACE,WHT,NaN,NaN,NaN,NaN

In [18]:
chronic_disease_2018 = chronic_disease_2018[['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource', 'Topic', 'Question',	'DataValueUnit', 'DataValueType', 'DataValue', 'DataValueAlt', 'DatavalueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit','StratificationCategoryID1', 'StratificationID1']]

In [19]:
chronic_disease_2018_state = chronic_disease_2018.groupby(['LocationAbbr', 'LocationDesc', 'Topic', 'StratificationCategoryID1', 'StratificationID1']).mean(['LowConfidenceLimit', 'HighConfidenceLimit'])

In [20]:
chronic_disease_2018_state

                                                                               YearStart  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                  2018.0
                                                            GENM                  2018.0
                                  OVERALL                   OVR                   2018.0
                                  RACE                      AIAN                  2018.0
                                                            API                   2018.0
...                                                                                  ...
WY           Wyoming      Tobacco RACE                      BLK                   2018.0
                                                            HIS                   2018.0
                                                            MRC                   2018.0
                                                            OTH                   2018.0
                                                            WHT                   2018.0

                                                                               YearEnd  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                2018.0
                                                            GENM                2018.0
                                  OVERALL                   OVR                 2018.0
                                  RACE                      AIAN                2018.0
                                                            API                 2018.0
...                                                                                ...
WY           Wyoming      Tobacco RACE                      BLK                 2018.0
                                                            HIS                 2018.0
                                                            MRC                 2018.0
                                                            OTH                 2018.0
                                                            WHT                 2018.0

                                                                               DataValueAlt  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                  13.600000
                                                            GENM                  15.563636
                                  OVERALL                   OVR                   20.713333
                                  RACE                      AIAN                  40.200000
                                                            API                   42.100000
...                                                                                     ...
WY           Wyoming      Tobacco RACE                      BLK                         NaN
                                                            HIS                   27.575000
                                                            MRC                         NaN
                                                            OTH                   24.175000
                                                            WHT                   29.925000

                                                                               LowConfidenceLimit  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                         6.820000
                                                            GENM                         8.890000
                                  OVERALL                   OVR                         12.300000
                                  RACE                      AIAN                        30.766667
                                                            API                         29.300000
...                                                                                           ...
WY           Wyoming      Tobacco RACE                      BLK                               NaN
                                                            HIS                         20.150000
                                                            MRC                               NaN
                                                            OTH                         15.200000
                                                            WHT                         25.341667

                                                                               HighConfidenceLimit
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                         11.750000
                                                            GENM                         13.340000
                                  OVERALL                   OVR                          16.761538
                                  RACE                      AIAN                         50.366667
                                                            API                          56.000000
...                                                                                            ...
WY           Wyoming      Tobacco RACE                      BLK                                NaN
                                                            HIS                          36.512500
                                                            MRC                                NaN
                                                            OTH                          36.350000
                                                            WHT                          34.675000

[8258 rows x 5 columns]

In [21]:
death_count = pd.read_csv(r'C:\Users\hayli\Documents\DA12\Capstone Project\nss-capstone\data\Weekly_Counts_of_Deaths_by_State_and_Select_Causes__2014-2019_20241003.csv')

In [22]:
death_count

,Jurisdiction of Occurrence,MMWR Year,MMWR Week,Week Ending Date,All Cause,Natural Cause,Septicemia (A40-A41),Malignant neoplasms (C00-C97),Diabetes mellitus (E10-E14),Alzheimer disease (G30),...,flag_neopl,flag_diab,flag_alz,flag_inflpn,flag_clrd,flag_otherresp,flag_nephr,flag_otherunk,flag_hd,flag_stroke
0,Florida,2014,43,10/25/2014,3381,3149,38.0,854.0,81.0,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Florida,2014,44,11/01/2014,3501,3261,43.0,859.0,85.0,130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Florida,2014,45,11/08/2014,3646,3369,44.0,838.0,121.0,140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Florida,2014,46,11/15/2014,3615,3346,43.0,828.0,110.0,133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Florida,2014,47,11/22/2014,3672,3383,39.0,824.0,109.0,135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16897,Puerto Rico,2019,48,11/30/2019,619,568,NaN,113.0,62.0,53.0,...,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN
16898,Puerto Rico,2019,49,12/07/2019,555,530,15.0,109.0,62.0,46.0,...,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN
16899,Puerto Rico,2019,50,12/14/2019,526,492,NaN,91.0,56.0,39.0,...,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN
16900,Puerto Rico,2019,51,12/21/2019,577,533,17.0,92.0,59.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16901,Puerto Rico,2019,52,12/28/2019,553,511,11.0,96.0,53.0,39.0,...,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,Suppressed (counts 1-9),NaN,NaN

In [23]:
death_count = death_count.rename(columns={'Jurisdiction of Occurrence' : 'State', 'MMWR Year' : 'Year', 'MMWR Week': 'Week',	'Week Ending Date' : 'Week_End_Date', 'All Cause' : 'All_Causes',  'Natural Cause' : 'Natural_Cause', 'Septicemia (A40-A41)' : 'Septicemia', 'Malignant neoplasms (C00-C97)' : 'Malignant_Neoplasms', 'Diabetes mellitus (E10-E14)' : 'Diabetes', 'Alzheimer disease (G30)' : 'Alzheimer', 'Influenza and pneumonia (J10-J18)' : 'Flu_and_Pneumonia', 'Chronic lower respiratory diseases (J40-J47)' : 'Lower_Resp_Diseases', 'Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)' : 'Other_Resp_Diseases',	'Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)' : 'Nephritis', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)' : 'Abnormal_Findings',	'Diseases of heart (I00-I09,I11,I13,I20-I51)' : 'Heart_Disease',	'Cerebrovascular diseases (I60-I69)' : 'Cerebrovascular_diseases'})

In [24]:
death_count

,State,Year,Week,Week_End_Date,All Cause,Natural_Cause,Septicemia,Malignant_Neoplasms,Diabetes,Alzheimer,...,flag_neopl,flag_diab,flag_alz,flag_inflpn,flag_clrd,flag_otherresp,flag_nephr,flag_otherunk,flag_hd,flag_stroke
0,Florida,2014,43,10/25/2014,3381,3149,38.0,854.0,81.0,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Florida,2014,44,11/01/2014,3501,3261,43.0,859.0,85.0,130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Florida,2014,45,11/08/2014,3646,3369,44.0,838.0,121.0,140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Florida,2014,46,11/15/2014,3615,3346,43.0,828.0,110.0,133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Florida,2014,47,11/22/2014,3672,3383,39.0,824.0,109.0,135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16897,Puerto Rico,2019,48,11/30/2019,619,568,NaN,113.0,62.0,53.0,...,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN
16898,Puerto Rico,2019,49,12/07/2019,555,530,15.0,109.0,62.0,46.0,...,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN
16899,Puerto Rico,2019,50,12/14/2019,526,492,NaN,91.0,56.0,39.0,...,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN
16900,Puerto Rico,2019,51,12/21/2019,577,533,17.0,92.0,59.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16901,Puerto Rico,2019,52,12/28/2019,553,511,11.0,96.0,53.0,39.0,...,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,Suppressed (counts 1-9),NaN,NaN

In [25]:
death_count_2018 = death_count[['Year'] == 2018]

KeyError: False